.BreadList {
  margin-top: 8rem;
  text-align: center;
  font-family: 'Abel', sans-serif;
  margin-bottom: 1rem;
}

.BreadList h2 {
  margin-bottom: 3rem;
}

.BreadList p {
  margin-bottom: 3rem;
}

.BreadList ul {
  list-style-type: none;
  padding: 0;
}

.BreadList li {
  margin: 0.5rem 0;
  margin-bottom: 1rem;
}

.BreadList a {
  text-decoration: none;
  color: #3e6d4e;
  font-weight: bold;
  margin-bottom: 1rem;
}

.BreadList a:hover {
  text-decoration: underline;
}