@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  background: linear-gradient(#F6E9DA 70%, #f4e4b3);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Caveat", cursive;
  justify-content: space-between;
}