@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  background: linear-gradient(#D0C5B9, #E7AB86 30%, #DC7333);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Satisfy", cursive;
  justify-content: space-between;
}