body, html {
    margin: 0;
    padding: 0;
    background-color: #d0c5b9;
}
  
.main {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.map-wrapper {
    display: flex;
    flex-direction: column;
    height: 90%;
    width: 90%;
    align-items: center;
   
}

.map-wrapper >h2 {
    font-size: large;
}

.error-message {
    margin-top: 20%;
  }
  
.error-container {
    display: flex;
    justify-content: center;
}

@media screen and (min-width: 750px) and (max-width: 1024px ) and (orientation: portrait) {
    .map-wrapper >h2 {
        font-size: xx-large;
    }

    
}

/* LARGE BREAKPOINT */
@media screen and (min-width: 1025px) {
    .map-wrapper {
        padding-top: 5rem;
    }

    .map-wrapper >h2 {
        font-size: xx-large;
    }
}