@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
    background-color: #d0c5b9;
}
.error-message {
    margin-top: 20%;
  }
  
.error-container {
    display: flex;
    justify-content: center;
}