.login-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 0.9375rem;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
  padding: 2rem;
  margin: 5rem auto 2rem;
  width: 90%;
  max-width: 25rem;
  font-family: 'Abel', sans-serif;
  gap: 1.25rem;
}

.login-form-container h2 {
  text-align: center;
  color: #333;
  font-family: 'Satisfy', cursive;
  font-size: 2rem;
}

.login-form-container input {
  border: 2px solid #82aa9f;
  border-radius: 5px;
  padding: 0.625rem;
  font-size: 1rem;
  color: #333;
  width: 100%;
  margin-bottom: 1rem;
}

.login-form-container input::placeholder {
  color: #666;
}

.login-form-container button {
  background-color: #82aa9f;
  color: white;
  padding: 0.625rem 1.25rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5s ease;
  width: 100%;
  margin-bottom: 1rem;
}

.login-form-container button:hover {
  background-color: #f0a200;
}

/* Adjustments for larger screens */
@media screen and (min-width: 750px) {
  .login-form-container {
    width: 80%;
    max-width: 500px;
  }
}