.BreadDetail {
    margin-top: 8rem;
    text-align: center;
    font-family: 'Abel', sans-serif;
    margin-bottom: 1rem;
}

.BreadDetail h2 {
    margin-bottom: 3rem;
}

.BreadDetail h3 {
    margin-bottom: 3rem;
}
  
.BreadDetail p {
    margin-bottom: 3rem;
}