/*SMALL BREAKPOINT */
.BreadDetail {
    margin-top: 1rem;
    text-align: center;
    font-family: 'Abel', sans-serif;
    margin-bottom: 1rem;
}

.BreadDetail > h2 {
    margin-bottom: 1rem;
    font-family: 'Satisfy', cursive;
    font-size: 3rem;
}

.BreadDetail h3 {
    margin-bottom: 3rem;
    font-size: 1.5rem;
}
  
.BreadDetail p {
    margin-bottom: 3rem;
    font-size: .5rem;
}

.recipeSection {
    width: 100vw;
    height: 70vh;
    height: calc(100vh -  360px);
    background-image: url('/public/shutterstock_174816359.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    content: "";
    position: absolute;
    align-items: center;
    justify-content: center;
}

.recipeDetail {
    background-color: rgba(231, 171, 134, 0.7);
    font-family: 'Abel', sans-serif;
    height: 80%;
    width: 80%;
    display: flex;
    align-items: center;
    font-size: x-large;
    padding: 1.5rem;
    border-radius: 65px;
    overflow-y: auto;
    padding-top: 2rem;
}

.recipeDetail > p {
    padding-top: 4rem;
}

.img {
    width: 50px;
}

/* SMALL - MEDIUM BREAKPOINT */
@media screen and (min-width: 470px) and (max-width: 700) and (orientation: portrait){
    .BreadDetail {
        margin-top: 1rem;
        text-align: center;
        font-family: 'Abel', sans-serif;
        margin-bottom: 1rem;
    }

    .recipeSection {
        height: calc(100vh - 337px);
    }

    .recipeDetail {
        font-size: 2rem;
    }
}

/* RESPONSIVE MEDIUM BREAKPOINT */
@media screen and (min-width: 700px) and (max-width: 750px ) and (orientation: portrait) {
    .BreadDetail {
        margin-top: 1rem;
        text-align: center;
        font-family: 'Abel', sans-serif;
        margin-bottom: 1rem;
    }

    .recipeSection {
        height: calc(100vh - 305px);
    }

    .recipeDetail {
        font-size: 2rem;
    }
}

/* iPhone 12 Pro BREAKPOINT */
@media screen and (min-width: 390px) and (max-width: 469px) and (orientation: portrait){
    .BreadDetail {
        margin-top: 1rem;
        text-align: center;
        font-family: 'Abel', sans-serif;
        margin-bottom: 1rem;
    }

    .recipeDetail {
        font-size: 1.1rem;
    }
}

/* IPAD BREAKPOINT:: needs refactor, breaking change for small breakpoint for iphone*/
@media screen and (min-width: 750px) and (max-width: 1400px ) and (orientation: portrait) {
    .BreadDetail {
        margin-top: 1rem;
        text-align: center;
        font-family: 'Abel', sans-serif;
        margin-bottom: 1rem;
    }

    .recipeSection {
        height: calc(100vh - 304px);
    }

    .recipeDetail {
        font-size: 2rem;
    }
}

/* LARGE BREAKPOINT */
@media screen and (min-width: 1025px) {
    .BreadDetail {
        margin-top: 8rem;
        text-align: center;
        font-family: 'Abel', sans-serif;
        margin-bottom: 1rem;
    }
}