.navbar {
    background-color: #82aa9f;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 95px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem;
}
    
.navbar h1 {
    margin: 0;
    font-size: 1.5rem;
    color: #000000;
}

.navbar .nav-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 30%;
}
    
.navbar a {
    color: #000000;
    text-decoration: none;
    padding: 0.5rem;
    font-size: 1.5rem;
}
    
.navbar a:hover {
    text-decoration: underline;
    color: white
}
    
@media screen and (min-width: 750px) {
    .navbar {
      top: 0;
      bottom: auto;
    }
 }
  

/* IPAD BREAKPOINT*/
@media screen and (min-width: 750px) and (max-width: 1024px ) and (orientation: portrait) {
	.navbar {
		position: unset;
		bottom: unset;
		left: unset;
		width: unset;
		z-index: unset;
	}

    .navbar a {
        font-size: 2rem;
    }
    
    .navbar h1 {
        font-size: 2rem;
    }
}


 /* MEDIUM BREAKPOINT */
@media screen and (min-width: 750px) and (max-width: 1024px) and (orientation: portrait) {
    .navbar a {
        font-size: 2rem;
    }
    
    .navbar h1 {
        font-size: 2rem;
    }

}

/* LARGE BREAKPOINT */
@media screen and (min-width: 1025px) and (orientation: landscape){
    .navbar a {
        font-size: 2rem;
    }
    
    .navbar h1 {
        font-size: 2rem;
    }
}